body{
    background-color: #1f8664;
    background-image: url('../../images/wp4676582.jpg');
}
li.linave{
float:left;
}
li.linav a {
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active {
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: cyan;
}
span.subtitle{ 
    font-size: 12pt;
    color: azure;
    font-family: verdana;
}
span.maintitle{ 
font-size: 20;
}
a.nav{
    font-size: 8pt;
    color:black;
    font-family: verdana;
}
a.nav:hover{
    font-size: 8pt;
    color:blue;
    font-family: verdana;
}
#page_container{
border-radius: 5px;
border: 2px #333333 solid;
margin-left: auto;
margin-right: auto;
padding: 10px;
height: 800px;
width: 90%;
background: darkgrey;
}
p.p_content1{
    font-size: 12pt;
    color: black;
    font-family: verdana;
    background-color: black;
    padding: 5px;
    border-radius: 3px;
    border: solid #333333;
}
span.font1{
    font-size: 20pt;
    color: white;
    font-family: verdana;
    font-weight: bold;
}
body {
    background-color: blanchedalmond;
}
table.table3{
    border: radius 6px;;
}
span-about{
    font-size: 16px;
}
