body{
    background-color: #1f8664;
    background-image: url('../../images/wp4676582.jpg');
}
li.linave{
float:left;
}
li.linav a {
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active {
    display: block;
    color: crimson;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: cyan;
}
span.subtitle{ 
    font-size: 12pt;
    color: azure;
    font-family: verdana;
}
span.maintitle{ 
font-size: 20;
}
a.nav{
    font-size: 8pt;
    color:black;
    font-family: verdana;
}
a.nav:hover{
    font-size: 8pt;
    color:blue;
    font-family: verdana;
}